body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 95rem;
  margin: auto;
  padding: 0 2em;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  text-decoration: underline;
}

.picture-information-calendar {
  background-color: #42b6d6;
  border-radius: 1.5rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.main-wrapper {
  width: 100%;
}

.main-sections {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.picture-description {
  align-items: flex-end;
  color: rgb(138, 138, 138);
  display: flex;
  font-size: 1rem;
  margin-top: -1rem;
  text-align: start;  
}

.picture-description:hover {
  color: whitesmoke
}

.picture-information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-width: 100%; */
}

.picture-information p {
  font-size: 0.4em;
  text-align: end;
  margin: 0;
  padding: 0 0.5em;
}

.picture-container {
  background-color: black;
  border-radius: 7px;
  height: 16em;
  width: 100%;
}

.picture-container img {
  height: 16em;
  object-fit: contain;
}

.mainscreen-footer {
  font-size: 0.9em;
  font-style: italic;
}
